body {
	font-family: Arial, sans-serif;
}

li {
	font-size: 30px;
}

.emoji {
	display: inline-block;
	width: 36px;
	height: 36px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.emoji.bb {
	width: 62px;
	height: 62px;
}

.emoji.wbb {
	width: 120px;
	height: 120px;
}

.magic {
	background-image: url(../emoji/crystall_ball.png);
}

.think {
	background-image: url(../emoji/thinking.png);
}

.hm {
	background-image: url(../emoji/face-with-rolling-eyes.png);
}

.koala {
	background-image: url(../emoji/koala.png);
}

.marg {
	margin-top: -10px;
}

.dog {
	background-image: url(../emoji/dog-face.png);
}

.rabbit {
	background-image: url(../emoji/rabbit-face.png);
}

.leo {
	background-image: url(../emoji/lion-face.png);
}

.smile {
	background-image: url(../emoji/slightly-smiling-face.png);
}

.revsmile {
	background-image: url(../emoji/upside-down-face.png);
}

.bad {
	background-image: url(../emoji/smirking-face.png);
}

.sad {
	background-image: url(../emoji/unamused-face.png);
}

.earth {
	background-image: url(../emoji/earth-globe-europe-africa.png);
}

.border {
	border: 1px solid #03a1ef;
}


/* Первый слайд */
#cover .background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #03a1ef;
	z-index: -1;
}

#cover .ball-container,
.slide-events .ball-container{
	width: 342px;
	margin: 0 auto;
	position: absolute;
	top: 70%;
	left: 50%;
	margin-left: -171px;
}

#cover .ball,
.slide-events .ball{
	width: 42px;
	height: 42px;
	background-color: #c1d82f;
	position: absolute;
	border-radius: 100%;
	top: 50%;
	margin-top: -21px;
}

#cover .ball.mb{
	-webkit-animation: motion-blur 4s ease-in-out infinite;
	        animation: motion-blur 4s ease-in-out infinite;
}
.slide-events .ball.mb.go{
	-webkit-animation: motion-blur 4s ease-in-out 5;
	        animation: motion-blur 4s ease-in-out 5;
}

@-webkit-keyframes motion-blur {
	0% {
		left: 0;
		box-shadow: 0 0 0 rgba(108, 179, 63, 0);
	}
	5% {
		left: 0;
		-webkit-transform-origin: 0 0;
		        transform-origin: 0 0;
		-webkit-transform: scaleX(0.85);
		        transform: scaleX(0.85);
	}
	25% {
		box-shadow: -20px 0 15px -10px rgba(108, 179, 63, 0.4);
		-webkit-transform: scaleX(1.05) skewX(-3deg);
		        transform: scaleX(1.05) skewX(-3deg);
	}
	50% {
		left: 300px;
		box-shadow: 0 0 0 rgba(108, 179, 63, 0);
		-webkit-transform: scaleX(1) skewX(0deg);
		        transform: scaleX(1) skewX(0deg);
	}
	55% {
		left: 300px;
		-webkit-transform-origin: 100% 0;
		        transform-origin: 100% 0;
		-webkit-transform: scaleX(0.9);
		        transform: scaleX(0.9);
	}
	75% {
		box-shadow: 20px 0 15px -10px rgba(108, 179, 63, 0.4);
		-webkit-transform: scaleX(1.05) skewX(3deg);
		        transform: scaleX(1.05) skewX(3deg);
	}
	100% {
		left: 0px;
		box-shadow: 0 0 0 rgba(108, 179, 63, 0);
		-webkit-transform: scaleX(1) skewX(0deg);
		        transform: scaleX(1) skewX(0deg);
	}
}

@keyframes motion-blur {
	0% {
		left: 0;
		box-shadow: 0 0 0 rgba(108, 179, 63, 0);
	}
	5% {
		left: 0;
		-webkit-transform-origin: 0 0;
		        transform-origin: 0 0;
		-webkit-transform: scaleX(0.85);
		        transform: scaleX(0.85);
	}
	25% {
		box-shadow: -20px 0 15px -10px rgba(108, 179, 63, 0.4);
		-webkit-transform: scaleX(1.05) skewX(-3deg);
		        transform: scaleX(1.05) skewX(-3deg);
	}
	50% {
		left: 300px;
		box-shadow: 0 0 0 rgba(108, 179, 63, 0);
		-webkit-transform: scaleX(1) skewX(0deg);
		        transform: scaleX(1) skewX(0deg);
	}
	55% {
		left: 300px;
		-webkit-transform-origin: 100% 0;
		        transform-origin: 100% 0;
		-webkit-transform: scaleX(0.9);
		        transform: scaleX(0.9);
	}
	75% {
		box-shadow: 20px 0 15px -10px rgba(108, 179, 63, 0.4);
		-webkit-transform: scaleX(1.05) skewX(3deg);
		        transform: scaleX(1.05) skewX(3deg);
	}
	100% {
		left: 0px;
		box-shadow: 0 0 0 rgba(108, 179, 63, 0);
		-webkit-transform: scaleX(1) skewX(0deg);
		        transform: scaleX(1) skewX(0deg);
	}
}


.slide blockquote {
	font-size: 36px;
}

.slide blockquote:before {
	color: rgba(108, 179, 63, 0.5);
	font-size: 5em;
}

.slide .value li {
	font-size: 28px;
	display: inline-block;
	text-indent: inherit;
}

.slide ul.value>li:lang(ru):before{
	content: none;
}

#cover h2 {
	margin:30px 0 0;
	color:#FFF;
	text-align:center;
	font-size:70px;
}
#cover p {
	margin:10px 0 0;
	text-align:center;
	color:#FFF;
	font-size:20px;
}
#cover p a {
	color:#FFF;
}

.hover {
	position: relative;
	border: 1px solid #f4f1ce;
	color: black;
	margin: 30px 0;
	margin-top: 100px;
	padding: 30px;
	text-align: center;
}

.hover a{
	background: lightgrey;
	color: grey;
	margin-right: 10px;
	padding: 15px 30px;
	-webkit-transition: none;
	transition: none;
	text-decoration: underline;
	cursor: pointer;
}

.hover a:hover {
	background: #c1d82f;
	color: #03a1ef;
}

.hover a.with-transition1 {
	-webkit-transition: 1s;
	transition: 1s;
}

.property {
	position: relative;
	border: 1px solid #f4f1ce;
	color: black;
	margin: 30px 0;
	margin-top: 100px;
	padding: 30px;
	text-align: center;
}

.property a{
	background: lightgrey;
	color: grey;
	margin-right: 10px;
	padding: 15px 30px;
	-webkit-transition: none;
	transition: none;
	text-decoration: underline;
	cursor: pointer;
	line-height: 4;
}

.property a:hover {
	background: #c1d82f;
	color: #03a1ef;
	border: 5px solid blue;
}

.property a.with-background-transition {
	-webkit-transition-duration: 2s;
	        transition-duration: 2s;
	-webkit-transition-property: background;
	transition-property: background;
}

.property a.with-all-transition {
	-webkit-transition-duration: 2s;
	        transition-duration: 2s;
	-webkit-transition-property: all;
	transition-property: all;
}

.duration {
	position: relative;
	border: 1px solid #f4f1ce;
	color: black;
	margin: 30px 0;
	margin-top: 100px;
	padding: 30px;
	text-align: center;
	white-space: nowrap;
}

.duration a{
	background: lightgrey;
	color: grey;
	margin-right: 10px;
	padding: 15px 30px;
	-webkit-transition: none;
	transition: none;
	text-decoration: underline;
	cursor: pointer;
	line-height: 4;
}

.duration a:hover {
	background: #c1d82f;
	color: #03a1ef;
}

.duration a.with-fast-transition {
	-webkit-transition-duration: 0.5s;
	        transition-duration: 0.5s;
	-webkit-transition-property: all;
	transition-property: all;;
}

.duration a.with-slow-transition {
	-webkit-transition-duration: 3s;
	        transition-duration: 3s;
	-webkit-transition-property: all;
	transition-property: all;
}

.timing {
	position: relative;
	border: 1px solid #f4f1ce;
	color: black;
	margin: 30px 0;
	padding: 10px;
	padding-bottom: 10px;
	text-align: left;
	font-size: 18px;
}

.timing p {
	color: gray;
}

.timing p:first-of-type strong {
	color: crimson;
}

.timing p:nth-of-type(2) strong {
	color: midnightblue;
}

.timing p:nth-of-type(3) strong {
	color: mediumseagreen;
}

.timing p:nth-of-type(4) strong {
	color: orangered;
}

.timing p:last-of-type strong {
	color: darkviolet;
}

.timing div {
	background: crimson;
	height: 20px;
	left: 0;
	margin-top: -1rem;
	position: relative;
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 5s;
	        transition-duration: 5s;
	width: 20px;
}
.timing:hover div {
	left: 80%;
}
.timing .ease {
	-webkit-transition-timing-function: ease;
	        transition-timing-function: ease;
	} /* Default behavior */
.timing .linear {
	-webkit-transition-timing-function: linear;
	        transition-timing-function: linear;
	background: midnightblue;
	} /* Constant speed */
.timing .ease-in {
	-webkit-transition-timing-function: ease-in;
	        transition-timing-function: ease-in;
	background: mediumseagreen;
}
.timing .ease-out {
	-webkit-transition-timing-function: ease-out;
	        transition-timing-function: ease-out;
	background: orangered;
}
.timing .ease-in-out {
	-webkit-transition-timing-function: ease-out;
	        transition-timing-function: ease-out;
	background: darkviolet;
}

.delay {
	position: relative;
	border: 1px solid #f4f1ce;
	color: black;
	margin: 30px 0;
	margin-top: 100px;
	padding: 30px;
	text-align: center;
}

.delay div{
	display: inline-block;
	background: lightgrey;
	padding: 1rem;
	width: 80%;
	text-align: center;
}

.delay a{
	background: blue;
	color: white;
	padding: 5px 10px;
	text-decoration: none;
	-webkit-transition: all 1s;
	transition: all 1s;
}

.delay div:hover a{
	background: #c1d82f;
	color: #03a1ef;
}

.delay a.with-delay {
	-webkit-transition-delay: 1s;
	        transition-delay: 1s;
}

.hover {
	position: relative;
	border: 1px solid #f4f1ce;
	color: black;
	margin: 30px 0;
	margin-top: 100px;
	padding: 30px;
	text-align: center;
}

.hover a{
	background: lightgrey;
	color: grey;
	margin-right: 10px;
	padding: 15px 30px;
	-webkit-transition: none;
	transition: none;
	text-decoration: underline;
	cursor: pointer;
}

.hover a:hover {
	background: #c1d82f;
	color: #03a1ef;
}

.hover a.with-transition {
	-webkit-transition: background 2s ease-in-out 1s;
	transition: background 2s ease-in-out 1s;
}

@-webkit-keyframes bouncing {
	0% {
		bottom: 0;
		box-shadow: 0 0 5px rgba(193, 216, 47, 0.7);
	}
	100% {
		bottom: 50px;
		box-shadow: 0 50px 50px rgba(193, 216, 47, 0.3);
	}
}

@keyframes bouncing {
	0% {
		bottom: 0;
		box-shadow: 0 0 5px rgba(193, 216, 47, 0.7);
	}
	100% {
		bottom: 50px;
		box-shadow: 0 50px 50px rgba(193, 216, 47, 0.3);
	}
}

#result-1 a {
	-webkit-animation: bouncing 0.5s cubic-bezier(0.1, 0.25, 0.1, 1) 0s infinite alternate both;
	        animation: bouncing 0.5s cubic-bezier(0.1, 0.25, 0.1, 1) 0s infinite alternate both;
	background: #c1d82f;
	border-radius: 5px;
	display: inline-block;
	color: #03a1ef;
	text-shadow: 2px 2px 1px lightpink;
	cursor: pointer;
	font-size: 1.5rem;
	font-weight: 300;
	letter-spacing: 0.4em;
	padding: 2em 4em 2.2em;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: top;
}

#result-1 {
	padding: 9rem 1rem 0;
	text-align: center;
}

.too > li {
	line-height: 1.5;
}

small {
	font-size: 75%;
}

.slide-keyframes p {
	line-height: 1.1em;
}

@-webkit-keyframes around {
		0% {
				left: 0;
				top: 0;
		}
		25% {
				left: 240px;
				top: 0;
		}
		50% {
				left: 240px;
				top: 140px;
		}
		75% {
				left: 0;
				top: 140px;
		}
		100% {
				left: 0;
				top: 0;
		}
}

@keyframes around {
		0% {
				left: 0;
				top: 0;
		}
		25% {
				left: 240px;
				top: 0;
		}
		50% {
				left: 240px;
				top: 140px;
		}
		75% {
				left: 0;
				top: 140px;
		}
		100% {
				left: 0;
				top: 0;
		}
}

.result.k {
		height: 200px;
		position: absolute;
		right: 30%;
		top: 30%;
}

.square {
		-webkit-animation: around 4s linear infinite;
		        animation: around 4s linear infinite;
		width: 20px;
		height: 20px;
		position: relative;
}

.block {
	position: absolute;
	top: 25%;
	right: 10%;
	width: 400px;
	border: 1px solid lightgray;
	padding: 10px;
	text-align: center;
}

.block::before {
	content: "Наведите на блок";
	display: inline-block;
	color: gray;

}

.result {
	height: 20px;
	position: relative;
	margin-bottom: 45px;
}

.square1 {
	position: relative;
	width: 20px;
	height: 20px;
}

.block:hover .result .square1{
	-webkit-animation: shift 2s linear infinite;
	        animation: shift 2s linear infinite;
}

.block:hover .result2 .square1 {
	-webkit-animation: shift 500ms linear infinite;
	        animation: shift 500ms linear infinite;
}

.block:hover .result3 .square1 {
	-webkit-animation: shift 4.3s linear infinite;
	        animation: shift 4.3s linear infinite;
}

.slide-delay .result{
	top: 0;
	right: 0;
	margin-bottom: 20px;
}
.slide-delay > p{
	margin-bottom: 5px;
}
#delay p{
	margin-bottom: 10px;
}
.slide-delay .result .square{
	-webkit-animation: none;
	        animation: none;
	line-height: 1em;
	font-size: 45px;
}
.slide-delay .go .result .square{
	-webkit-animation: shift 5s linear infinite;
	        animation: shift 5s linear infinite;

}
.slide-delay .go .result2 .square{
	-webkit-animation-delay: 2s;
	        animation-delay: 2s;
}

@keyframes shift {
	0% {
		left: 0;
	}
	50% {
		left: 200px;
	}
	100% {
		left: 400px;
	}
}

.square2 {
	position: relative;
	width: 20px;
	height: 20px;
}

.block:hover .result .square2 {
	-webkit-animation: shift 2s linear 5;
	        animation: shift 2s linear 5;
}

.block:hover .result2 .square2 {
	-webkit-animation: shift 2s linear 0.2;
	        animation: shift 2s linear 0.2;
}

.block:hover .result3 .square2 {
	-webkit-animation: shift 2s linear infinite;
	        animation: shift 2s linear infinite;
}

@-webkit-keyframes tobottom {
	0% {
		top: 0;
	}
	100% {
		top: 240px;
	}
}

@keyframes tobottom {
	0% {
		top: 0;
	}
	100% {
		top: 240px;
	}
}

.result-direction {
	height: 60px;
	margin-top: -10px;
}

.col {
	width: 25%;
	float: left;
	text-align: center;
}

.square3 {
	width: 20px;
	height: 20px;
	position: relative;
	font-size: 40px;
}

.slide-direction .rails {
	height: 290px;
	position: relative;
	width: 36px;
	background-color: lightgray;
	border-radius: 2px;
	margin: 0 auto;
}

.col .square3 {
	-webkit-animation: tobottom 2s linear infinite;
	        animation: tobottom 2s linear infinite;
}

.col2 .square3 {
	-webkit-animation: tobottom 2s linear reverse infinite;
	        animation: tobottom 2s linear reverse infinite;
}

.col3 .square3 {
	-webkit-animation: tobottom 2s linear alternate infinite;
	        animation: tobottom 2s linear alternate infinite;
}

.col4 .square3 {
	-webkit-animation: tobottom 2s linear alternate-reverse infinite;
	        animation: tobottom 2s linear alternate-reverse infinite;
}

@keyframes shift {
		0% {
				left: 0;
		}
		50% {
				left: 40%;
		}
		100% {
				left: 80%;
		}
}

.result-pause {
	top: 20%;
	right: 0;
	left: 0;
}

.slide-state .square {
		-webkit-animation: shift 6s linear alternate infinite;
		        animation: shift 6s linear alternate infinite
}

.slide-state .result:hover .square {
		-webkit-animation-play-state: paused;
		        animation-play-state: paused;
}

.slide-mode p {
		line-height: 1.1em;
}

.result-mode {
		padding: 1rem 1rem 0;
}

#result-4 {
		padding: 1rem 1rem 0;
}

#result-4 p {
		color: grey;
		margin: 0;
		position: relative;
}

#result-4 p:first-child {
		margin-bottom: 1rem;
}

#result-4 p span {
		-webkit-animation: toggle 6s infinite both;
		        animation: toggle 6s infinite both;
		left: 0;
		position: absolute;
}

#result-4 p:first-child span {
		-webkit-animation-name: tabs;
		        animation-name: tabs;
		margin-right: 1rem;
		position: static;
}

#result-4 p span:nth-child(1) {
		-webkit-animation-delay: 0;
		        animation-delay: 0;
		position: static;
}

#result-4 p span:nth-child(2) {
		-webkit-animation-delay: 2s;
		        animation-delay: 2s;
}

#result-4 p span:nth-child(3) {
		-webkit-animation-delay: 4s;
		        animation-delay: 4s;
}

#result-4 div {
		background: lightgray;
		height: 30px;
		margin-bottom: 2rem;
		width: 530px;
		position: relative;
}

#result-4 div div {
		-webkit-animation: race-none 6s linear infinite;
		        animation: race-none 6s linear infinite;
		background: crimson;
		height: 30px;
		margin-bottom: 0;
		position: relative;
		width: 30px;
		border-radius: 50%;
}

#result-4 .forwards div {
		-webkit-animation-name: race-forwards;
		        animation-name: race-forwards;
}

#result-4 .backwards div {
		-webkit-animation-name: race-backwards;
		        animation-name: race-backwards;
}

#result-4 .both div {
		-webkit-animation-name: race-both;
		        animation-name: race-both;
}

@-webkit-keyframes race-none {
		0% {
				background: crimson;
				left: 0;
		}
		33% {
				background: crimson;
				left: 0;
		}
		34% {
				background: midnightblue;
				left: 250px;
		}
		66% {
				background: mediumseagreen;
				left: 500px
		}
		67% {
				background: crimson;
				left: 0;
		}
		100% {
				background: crimson;
				left: 0;
		}
}

@keyframes race-none {
		0% {
				background: crimson;
				left: 0;
		}
		33% {
				background: crimson;
				left: 0;
		}
		34% {
				background: midnightblue;
				left: 250px;
		}
		66% {
				background: mediumseagreen;
				left: 500px
		}
		67% {
				background: crimson;
				left: 0;
		}
		100% {
				background: crimson;
				left: 0;
		}
}

@-webkit-keyframes race-forwards {
		0% {
				background: crimson;
				left: 0;
		}
		33% {
				background: crimson;
				left: 0;
		}
		34% {
				background: midnightblue;
				left: 250px;
		}
		66% {
				background: mediumseagreen;
				left: 500px
		}
		67% {
				background: mediumseagreen;
				left: 500px;
		}
		100% {
				background: mediumseagreen;
				left: 500px;
		}
}

@keyframes race-forwards {
		0% {
				background: crimson;
				left: 0;
		}
		33% {
				background: crimson;
				left: 0;
		}
		34% {
				background: midnightblue;
				left: 250px;
		}
		66% {
				background: mediumseagreen;
				left: 500px
		}
		67% {
				background: mediumseagreen;
				left: 500px;
		}
		100% {
				background: mediumseagreen;
				left: 500px;
		}
}

@-webkit-keyframes race-backwards {
		0% {
				background: midnightblue;
				left: 250px;
		}
		33% {
				background: midnightblue;
				left: 250px;
		}
		34% {
				background: midnightblue;
				left: 250px;
		}
		66% {
				background: mediumseagreen;
				left: 500px
		}
		67% {
				background: crimson;
				left: 0;
		}
		100% {
				background: crimson;
				left: 0;
		}
}

@keyframes race-backwards {
		0% {
				background: midnightblue;
				left: 250px;
		}
		33% {
				background: midnightblue;
				left: 250px;
		}
		34% {
				background: midnightblue;
				left: 250px;
		}
		66% {
				background: mediumseagreen;
				left: 500px
		}
		67% {
				background: crimson;
				left: 0;
		}
		100% {
				background: crimson;
				left: 0;
		}
}

@-webkit-keyframes race-both {
		0% {
				background: midnightblue;
				left: 250px;
		}
		33% {
				background: midnightblue;
				left: 250px;
		}
		34% {
				background: midnightblue;
				left: 250px;
		}
		66% {
				background: mediumseagreen;
				left: 500px
		}
		67% {
				background: mediumseagreen;
				left: 500px;
		}
		100% {
				background: mediumseagreen;
				left: 500px;
		}
}

@keyframes race-both {
		0% {
				background: midnightblue;
				left: 250px;
		}
		33% {
				background: midnightblue;
				left: 250px;
		}
		34% {
				background: midnightblue;
				left: 250px;
		}
		66% {
				background: mediumseagreen;
				left: 500px
		}
		67% {
				background: mediumseagreen;
				left: 500px;
		}
		100% {
				background: mediumseagreen;
				left: 500px;
		}
}

.none:before,
.forwards:before,
.backwards:before,
.both:before {
	content: "";
	top: -35px;
	position: absolute;
	color: gray;
}

.none:before {
	content: "none";
}

.forwards:before {
	content: "forwards";
}

.backwards:before {
	content: "backwards";
}

.both:before {
	content: "both";
}

.screen {
	max-width: 100%;
}

.links::after {
	content: "";
	display: inline-block;
	width: 100%;
}

.links {
	text-align: justify;
}

.ball-info{
	font-size: 12px;
}
.ball-info span{
	display: inline-block;
	margin-right: 4px;
	color: green;
}
.ball-info span:nth-child(1)~span{
	color: blue;
}
.ball-info span:nth-last-child(1):nth-child(6){
	color: red;
}
