body {
	font-family: Arial, sans-serif;
}

li {
	font-size: 30px;
}

.emoji {
	display: inline-block;
	width: 36px;
	height: 36px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.emoji.bb {
	width: 62px;
	height: 62px;
}

.emoji.wbb {
	width: 120px;
	height: 120px;
}

.magic {
	background-image: url(../emoji/crystall_ball.png);
}

.think {
	background-image: url(../emoji/thinking.png);
}

.hm {
	background-image: url(../emoji/face-with-rolling-eyes.png);
}

.koala {
	background-image: url(../emoji/koala.png);
}

.marg {
	margin-top: -10px;
}

.dog {
	background-image: url(../emoji/dog-face.png);
}

.rabbit {
	background-image: url(../emoji/rabbit-face.png);
}

.leo {
	background-image: url(../emoji/lion-face.png);
}

.smile {
	background-image: url(../emoji/slightly-smiling-face.png);
}

.revsmile {
	background-image: url(../emoji/upside-down-face.png);
}

.bad {
	background-image: url(../emoji/smirking-face.png);
}

.sad {
	background-image: url(../emoji/unamused-face.png);
}

.earth {
	background-image: url(../emoji/earth-globe-europe-africa.png);
}

.border {
	border: 1px solid #03a1ef;
}


/* Первый слайд */
#cover .background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #03a1ef;
	z-index: -1;
}

#cover .ball-container,
.slide-events .ball-container{
	width: 342px;
	margin: 0 auto;
	position: absolute;
	top: 70%;
	left: 50%;
	margin-left: -171px;
}

#cover .ball,
.slide-events .ball{
	width: 42px;
	height: 42px;
	background-color: #c1d82f;
	position: absolute;
	border-radius: 100%;
	top: 50%;
	margin-top: -21px;
}

#cover .ball.mb{
	animation: motion-blur 4s ease-in-out infinite;
}
.slide-events .ball.mb.go{
	animation: motion-blur 4s ease-in-out 5;
}

@keyframes motion-blur {
	0% {
		left: 0;
		box-shadow: 0 0 0 rgba(108, 179, 63, 0);
	}
	5% {
		left: 0;
		transform-origin: 0 0;
		transform: scaleX(0.85);
	}
	25% {
		box-shadow: -20px 0 15px -10px rgba(108, 179, 63, 0.4);
		transform: scaleX(1.05) skewX(-3deg);
	}
	50% {
		left: 300px;
		box-shadow: 0 0 0 rgba(108, 179, 63, 0);
		transform: scaleX(1) skewX(0deg);
	}
	55% {
		left: 300px;
		transform-origin: 100% 0;
		transform: scaleX(0.9);
	}
	75% {
		box-shadow: 20px 0 15px -10px rgba(108, 179, 63, 0.4);
		transform: scaleX(1.05) skewX(3deg);
	}
	100% {
		left: 0px;
		box-shadow: 0 0 0 rgba(108, 179, 63, 0);
		transform: scaleX(1) skewX(0deg);
	}
}


.slide blockquote {
	font-size: 36px;
}

.slide blockquote:before {
	color: rgba(108, 179, 63, 0.5);
	font-size: 5em;
}

.slide .value li {
	font-size: 28px;
	display: inline-block;
	text-indent: inherit;
}

.slide ul.value>li:lang(ru):before{
	content: none;
}
